variables:
  IMAGE: bankexlabs/$CI_PROJECT_NAME:release

stages:
  - deploy-stage


deploy_stage:
  stage: deploy-stage
  image: tmaier/docker-compose
  variables:
    DOCKER_HOST: "tcp://charity-staging.westeurope.cloudapp.azure.com:2376"
    DOCKER_TLS_VERIFY: "1"
    SERVERNAME: meta.staging.bankex.team
    EMAIL: "om@bankexfoundation.org"
    NODE_ENV: "staging"
    NODE_PATH: "./build"
  before_script:
    - mkdir -p ~/.docker
    - echo "$DOCKER_CA" > ~/.docker/ca.pem
    - echo "$DOCKER_CERT" > ~/.docker/cert.pem
    - echo "$DOCKER_KEY" > ~/.docker/key.pem
    - env | grep DOCKER
    - docker login -u $DOCKER_USER -p $DOCKER_TOKEN
    - echo "IMAGE=$IMAGE" > .env ; echo "NODE_ENV=$NODE_ENV" >> .env; echo "NODE_PATH=$NODE_PATH" >> .env; echo "VIRTUAL_HOST=$SERVERNAME" >> .env ; echo "LETSENCRYPT_HOST=$SERVERNAME" >> .env; echo "LETSENCRYPT_EMAIL=$EMAIL" >> .env
  script:
    - docker-compose -f docker/docker-compose.yml up -d
  environment:
    name: staging
    url: https://meta.staging.bankex.team
  when: manual
  allow_failure: false
