<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
  <script src="server.js"></script>
  <title>OpenCharityMetadata</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>Welcome to OpenCharityMetadata!</h1>
      <input type="file" class="form-control" id="fileLoader" >
    </div>
    <div class="row">
      <textarea class="form-control" id="textLoader"></textarea>
    </div>
    <div class="row">
      <button id="sendButton" onClick="doSmthg()">Send</button>
    </div>
  </div>

  <script>
    var blob = new Blob(['{"a": "sdfs","b":"sdfsdfgg"}']);
    fileLoader.addEventListener('change', fileChange, false);
    textLoader.addEventListener('change', textChange, false);

    function fileChange(e) {
      blob = e.target.files[0];
    }
    function textChange(e) {
      blob = new Blob([e.target.value]);
    }

    function doSmthg() {
      sendBlobToServer(blob)
        .then(function(result) {console.log(JSON.parse(result).data)})
        .catch(function(error) {alert(error)});
    }

  </script>
</body>
</html>