<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
  <title>OpenCharityMetadata</title>
  <style>
    .resp {
      overflow-x: scroll;
      min-height: 100px;
    }
  </style>
</head>
<body>
  <div class="container" style="border-left: 2px solid black; padding-left: 30px">
    <h1>OpenCharityMetadata testAPI</h1>

    <div class="row">
      <h3>Upload metadata</h3>
      <div class="col-sm-6">
        <input class="form-control" type="text" placeholder="title" id="titleUL">
        <textarea class="form-control" placeholder="description" id="descriptionUL" rows="4"></textarea>
        <input type="file" class="form-control" placeholder="attachement" id="fileUL">
        <button class="btn btn-success" onClick="upload()">Send</button>
      </div>
      <div class="col-sm-6 resp" id="respUL"></div>
    </div>

    <div class="row">
      <h3>Download metadata</h3>
      <div class="col-sm-6">
        <input class="form-control" type="text" placeholder="hash[;hash]" id="hashDL">
        <button class="btn btn-success" onClick="download()">Send</button>
      </div>
      <div class="col-sm-6 resp">
        <div id="respDL"></div>
        <div id="DLattach"></div>
      </div>
    </div>

    <div class="row">
      <h3>Search metadata</h3>
      <div class="col-sm-6">
        <input class="form-control" type="text" placeholder="text" id="textSI">
        <button class="btn btn-success" onClick="search()">Send</button>
      </div>
      <div class="col-sm-6 resp" id="respSI"></div>
    </div>

  </div>
  <script src="testAPI.js"></script>
</body>
</html>