<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
  <title>OpenCharityMetadata</title>
  <style>
    .resp {
      overflow-x: scroll;
      min-height: 100px;
    }
  </style>
</head>
<body>
  <div class="container" style="border-left: 2px solid black; padding-left: 30px">
    <h1>OpenCharityMetadata testAPI</h1>

    <div class="row">
      <h3>Upload metadata</h3>
      <div class="col-sm-6">
        <input class="form-control" type="text" placeholder="type" id="typeUL">
        <textarea class="form-control" placeholder="description" id="descriptionUL" rows="4"></textarea>
        <div class="col-sm-2">
          image
        </div>
        <div class="col-sm-10">
          <input type="file" class="form-control" placeholder="image" id="imageUL">
        </div>
        <div class="col-sm-2">
          attachments
        </div>
        <div class="col-sm-10">
          <input type="file" class="form-control" placeholder="attachements" multiple id="fileUL">
        </div>
        <button class="btn btn-success" onClick="upload()">Send</button>
      </div>
      <div class="col-sm-6 resp" id="respUL"></div>
    </div>

    <div class="row">
      <h3>Download metadata</h3>
      <div class="col-sm-6">
        <input class="form-control" type="text" placeholder="hash[;hash]" id="hashDL">
        <button class="btn btn-success" onClick="download()">Send</button>
      </div>
      <div class="col-sm-6 resp">
        <div id="respDL"></div>
        <div id="DLattach"></div>
      </div>
    </div>

    <div class="row">
      <h3>Search metadata</h3>
      <div class="col-sm-6">
        <select id="selSI">
          <option value="" selected>other...</option>
          <option value="charityEvent">charityEvent</option>
          <option value="incomingDonation">incomingDonation</option>
        </select>
        <input class="form-control" type="text" placeholder="text" id="textSI">
        <button class="btn btn-success" onClick="search()">Send</button>
      </div>
      <div class="col-sm-6 resp" id="respSI"></div>
    </div>

    <div class="row">
      <h3>[reindex] metadata</h3>
      <div class="col-sm-6">
        <input class="form-control" type="password" placeholder="password" id="passRE">
        <button class="btn btn-danger" onClick="reindex()">Send</button>
      </div>
      <div class="col-sm-6 resp" id="respRE"></div>
    </div>

    <div class="row">
      <h3>[drop] metadata storage</h3>
      <div class="col-sm-6">
        <input class="form-control" type="password" placeholder="password" id="passDrop">
        <button class="btn btn-danger" onClick="drop()">Send</button>
      </div>
      <div class="col-sm-6 resp" id="respDrop"></div>
    </div>

    <div class="row">
      <h3>Edit organizations list</h3>
      <div class="col-sm-6">
        <input class="form-control" type="password" placeholder="password" id="passOrgs">
        <textarea class="form-control" id="listOrgs" rows="4"></textarea>
        <button class="btn btn-danger" onClick="editListOrgs()">Send</button>
      </div>
      <div class="col-sm-6 resp" id="respOrgs"></div>
    </div>

  </div>
  <script src="testAPI.js"></script>
</body>
</html>